.sidebar {
  height: calc(100vh - 4rem);
  width: 200px;
  background-color: #000000d1;
  border: 1px solid black;
}

.nav-link {
  color: white !important;
}

.navSingleMenu {
  color: white !important;
  cursor: pointer;
}

.navItem {
  padding: 0.5rem;
}

